.footer {
    position: absolute;
    width: 100% !important;
    font-size: 12px;
}

@media (max-width: 991.98px) {
    .footer {
        position: absolute;
        width: 100% !important;
        font-size: 12px;
        bottom: -60px !important;
    }
    
}