.card-body-height {
    height: 14vh;
}

.bg-black {
    height: auto;
    background-color: black;
    width: 100vw !important;
    height: 90vh !important;
}

.left-10 {
    margin-left: 10px !important;
}
